.cabecalhoPrincipal .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalhoPrincipal-nav {
  display: flex;
}

.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rodapePrincipal-patrocinadores-list {
  display: flex;
  width: 75%;
  justify-content: space-around;
  align-items: center;
}

.rodapePrincipal-contatoForm {
  width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}

.rodapePrincipal-navMap-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
}

.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
  width: 23%;
  margin: 1%;
}

.conteudoPrincipal-cursos-link a:nth-child(4n){
  margin-right: 0;
}

.conteudoPrincipal-cursos-link a:nth-child(4n+1){
  margin-left: 0;
}

@media(max-width: 768px){

  .cabecalhoPrincipal .container {
    flex-direction: column;
    align-items: initial;
    text-align: center;
  }

  .cabecalhoPrincipal-nav {
    flex-direction: column;
  }

  .conteudoPrincipal-cursos{
    flex-direction: column;
  }
  .conteudoPrincipal-cursos-link {
    width: 100%;
    margin: 1% 0;
  }

  .rodapePrincipal-navMap-list {
    height: auto;
  }

  .rodapePrincipal-patrocinadores .container {
    flex-direction: column;
  }

  .rodapePrincipal-patrocinadores-list{
    width: 100%;
    margin: 0;
  }

  .rodapePrincipal-contatoForm{
    width: 100%;
  }

  .rodapePrincipal-contatoForm-fieldset {
    justify-content:center
}

}
