body {
	font-family: sans-serif;
	color: #6D6E71;
}


header, .cabecalho {
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 2px 20px 1px;
}

header .logotipo {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	padding: 10px 0 10px 0;
}



header .informacoes {
	padding: 15px 0 25px 0;
	text-align: center;

}

main, .conteudo {
	position: absolute;
	height: 80%;
	overflow: hidden;
	bottom: 10%;
}

footer, .rodape {
	height: 10%;
	position: fixed;
	bottom: 0;
	width: 100%;
}

i {
	font-size: 16px;
}

.cabecalho, .conteudo {
	background-color: white;
}

.container {
	margin: 0 auto;
	text-align: center;
}



img {
	max-width: 100%;
}


p {
	padding-bottom: 5px;
}

p spam {
	color: #BE5E9F;
	font-weight: bold;
}

form input, .botao {
	border-radius: 10px;
	padding: 20px 10px 20px 10px;
	font-size: 1.2em;
	border: solid 2px #45AEB1;
}
.formulario {
	padding-bottom: 25px;
	/*box-shadow: 0 8px 6px -6px black;*/
}

.formulario-div {
	width: 90%;
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.campo-busca {
	width: 100%;
}
.botao{
	width: 20%;
	position: absolute;
	right: 0;
	background-color: #45AEB1;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

input::placeholder {
	color:#C9C9C9;
	font-weight: normal;
}

.erro {
	display:none;
}

.menu {
	box-sizing: border-box;
	background-color: #45AEB1;
}

.menu ul{
	text-align: center;
}

.menu li {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
}

.menu li a{
	display: inline-block;
	box-sizing: border-box;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.7em;
	color:white;
}
.menu-inferior {
	background-color: #45AEB1;
	text-align: left;
	height: 50px;
}
.menu-inferior img {
	width: 20px;
}



.menu-inferior spam {
	margin-left: 5px;
}



@media only screen and (min-width: 992px) {

	body{
	background-color: grey;
	font-size: 1.5em;
}

.container-body{
	width: 80%;
	max-width: 900px;
}

	.logotipo img {
		max-width: 50%;
	}


	.menu-inferior {
		background-color: #45AEB1;
		text-align: left;
		height: 70px;
	}

	.menu-inferior img {
		width: 40px;
	}

	.menu-inferior li a{
		font-size: 0.9em;
	}


}
