page-home {
  #map {
    height: 100%;
  }
  .headerInicial{
  	margin-top: 200px;
  }
  .headerMapa{
  	margin-top: 20px;
  }
  .logotipo {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 10px 0 10px 0;
  }
  p spam {
    color: #BE5E9F;
    font-weight: bold;
  }
}
